/* Main */
$color-white: #ffffff !default;
$color-black: #202124 !default;
$color-border: #e0e0e0 !default;
$color-border-light: #eaeaea !default;
$color-border-hover: #d7d7d7 !default;
$color-background-hover: #e2e2e2 !default;
$color-gray-info-cell: #b3b3b3 !default;
$color-green-focus: #007e00 !default;

/* m-header */
$color-gray-header: #818181 !default;

/* m-table */
$color-gray-row-info: #f8f9fa !default;
$color-gray-cell: #111111 !default;
$color-blue-selected: #3b3bfd !default;

/* m-dashboard-table */
$color-gray-db: #dadce0;
$color-black-db: #202124;
$color-gray-db-bg: #e2f4ea;
