/* Global */
$width-info-cell: 40px !default;

/* m-header */
$height-header: 34px !default;
$height-toolbar: 40px !default;

/* m-formula */
$height-formula: 24px !default;

/* m-table */
$height-row: 24px;
$width-cell: 120px;

/* m-dashboard-table */
$height-dashboard-header: 64px;
